<div class="history">

<br> <br>

    <div class="header">
    <h2>Trades History</h2>
    </div>

    <div>
        <mat-form-field appearance="fill">
        <mat-label>Filter by ticker</mat-label>
            <mat-select>
                <mat-option *ngFor="let ticker of tickers" [value]="ticker.value">
                    {{ticker.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>  

    </div>

    <br> <br>

    <div>
        <mat-table class="mat-elevation-z8" [dataSource]="trades$" matSort
            matSortActive="bought" matSortDirection="desc" matSortDisableClear>

            <ng-container matColumnDef="ticker">
                <mat-header-cell *matHeaderCellDef>Ticker</mat-header-cell>
                <mat-cell *matCellDef="let trade">{{trade.ticker}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
                <mat-cell *matCellDef="let trade">{{trade.companyName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="unitsPurchased">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Units Purchased</mat-header-cell>
                <mat-cell *matCellDef="let trade">{{trade.quantity}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
                <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
                <mat-cell *matCellDef="let trade;">{{trade.unitPrice}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <mat-header-cell *matHeaderCellDef>Total Price</mat-header-cell>
                <mat-cell *matCellDef="let trade;">{{trade.totalPrice}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>

        <mat-paginator [length]="(trades$ | async)?.length" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>
</div>
