@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.history{
    margin: auto;
    border: 10px;
    width: 75%;
    justify-self: center;
    font-size: 100%;
    font-family: "Times New Roman";
}


.header {
    font-family: "Times New Roman";
    font-size: larger;
}

input.mat-input-element {
    height:70px;
    width: 50%;
    justify-self: center;
    font-family: "Times New Roman";
}

.mat-form-field {
    height:70px;
    width: 50%;
    justify-content: center;
    font-family: "Times New Roman";
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 8px;
    justify-content: center;
    font-style: normal;
    font-size: medium;
    font-family: "Times New Roman";
    word-break: normal;
}

.mat-header-cell {
    padding: 8px 8px 8px 8px;
    justify-content: center;
    color: 'grey';
    font-weight: bolder;
    font-size: medium;
    font-family: "Times New Roman";

}
