<br> <br>

<div class=holdings>

  <h2>Signup Form</h2>

  <div class="alert alert-danger" [hidden]="!error">
    {{(errorMessage)?.status}}
    <br>
    There was a problem signing up. Please try again. 
  </div>

  <div [hidden]="success" style="width: 400px;">
    
    <form #user (ngSubmit)="signup(user.name.value, user.email.value, user.password.value, user.phone.value)">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name" required name="name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="email" required name="email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" required name="password">
      </div>

      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" id="phone" required name="phone">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div [hidden]="!success">
    <h4>You submitted successfully!</h4>
  </div>
</div>
