<br>
<br>
<div class="holdings">

  <h2>Buy/Sell Trade</h2>

  <div [hidden]="submitted" style="width: 500px;">
      <form #trade (ngSubmit)="onSubmit(trade.ticker.value, trade.quantity.value, trade.tradeType.value)">
        <div class="form-group">
          <label>Ticker</label>
          <input type="text" class="form-control" id="ticker" required name="ticker">
        </div>

        <div class="form-group">
          <label>Quantity</label>
          <input type="text" class="form-control" id="quantity" required name="quantity">
        </div>

        <div class="form-group">
          <label>Trade Type</label>
          <input type="text" class="form-control" id="tradeType" required name="tradeType">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
</div>

  <div [hidden]="!submitted">
    <h4>You submitted a trade request successfully!</h4>
  </div>
